body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN", "游ゴシック","Yu Gothic", "メイリオ","Meiryo", sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}

h1 {
  font-size: 2em;
  color: #333333;
  font-weight: 100;
  margin:5px 0px 10px 0px;
}

core-toolbar {
  color: #666;
  fill: #666;
  background-color: transparent;
  height: 280px;
}

#logo {
  width: 280px;
  height: 160px;
  margin-bottom: 120px;
  background-image: url('../img/gtug-girls-small.png');
}

core-toolbar a {
  color: #666;
  text-decoration: none;
}

core-toolbar ul li {
  display: inline-block;
  font-size: 0.8em;
}

core-toolbar ul a {
  padding: 20px 10px;
}

core-toolbar a.selected {
  background-color: #666;
  color: #fff;
}

#main_container {
  width: 100%;
}

#content {
  padding: 20px;
}

@media only screen and (min-width: 900px) {
  #main_container {
    width: 840px;
  }
}

@media only screen and (min-width: 600px) {
  #content {
    padding: 40px;
  }
  core-toolbar {
    height: 400px;
  }
  #logo {
    width: 555px;
    height: 308px;
    margin-bottom: 300px;
    background-image: url('../img/gtug-girls.png');
  }
  core-toolbar ul li {
    font-size: 1em;
  }
}

.item_container {
  margin-top: 40px;
  line-height: 1.7em;
}

.item_container div {
  color: #666;
}

.item_container li {
  color: #666;
}

#main_container li {
  padding-top: 10px;
}

#main_container a {
  color: #1F8A99;
}
